:root{
    --pink-color: #e26e70;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    overflow: hidden;
    background-color: #FF99FF;
    font-family: sans-serif;
}
.open-modal-btn{
    padding: 20px 40px;
    border: none;
    outline: none;
    border-radius: 6px;    
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.6)
}
.modal-inner{
    width: 400px;
    position: relative;
    top: 50%;
    margin: auto;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    animation: modalShow .2s linear;
}
.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    color: white;
    background: var(--pink-color);
}
.modal-body{
    padding: 15px;
}
.modal-body h2{
    color: var(--pink-color);
    margin-bottom: 10px;
}
.modal-footer{
    padding: 15px;
    text-align: right;
}
.modal-footer button{
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    background: var(--pink-color);
}
.modal-footer button:hover{
    cursor: pointer;
}
.hide{
    display: none;
}
@keyframes modalShow {
    from{
        top: -200px;
        opacity: 0;
    }
    to{
        top: 50%;
        opacity: 1;
    }
}