@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&display=swap');
:root{
    --success: rgb(0, 159, 0);
    --warning: rgb(246, 160, 0);
    --error: rgb(229, 0, 0);
    --success-light: rgba(0, 159, 0,0.4);
    --warning-light: rgba(246, 160, 0,0.4);
    --error-light: rgba(229, 0, 0,0.4);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.control button{
    font-size: 28px;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 20px 30px;
    color: aliceblue;
    font-weight: bold;
    margin: 0 10px;
}
.success{
    background: var(--success);
}
.warning{
    background: var(--warning);
}
.error{
    background: var(--error);
}
#toasts{
    position: fixed;
    top: 10px;
    right: 10px;
}
.toast{
    padding: 20px;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 22px;
    overflow: hidden;
    animation: slide_show 2s ease forwards;
    margin-bottom: 10px;
}
.toast i{
    margin: 0 10px;
}
.toast .countdown{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    animation: countdown 2s ease;
}
.toast.success{
    border-left: 6px solid var(--success);
    background: var(--success-light);
}
.toast.success .countdown{
    background: var(--success);
}
.toast.warning{
    border-left: 6px solid var(--warning);
    background: var(--warning-light);
}
.toast.warning .countdown{
    background: var(--warning);
}
.toast.error{
    border-left: 6px solid var(--error);
    background: var(--error-light);
}
.toast.error .countdown{
    background: var(--error);
}
@keyframes countdown{
    from{
        width: 100%;
    }
    to{
        width: 0%;
    }
}
@keyframes slide_show{
    0%{
        transform: translateX(100%);
    }
    25%{
        transform: translateX(-10%);
    }
    50%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10%);
    }
}
@keyframes slide_hide{
    0%{
        transform: translateX(-10%);
    }
    25%{
        transform: translateX(0%);
    }
    50%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(200%);
    }
}